<input [(ngModel)]="titleCheck"> <button (click)="clickEvent()">Click me for an update!</button>

<app-create-content
  #createContent
  [contentProcessed] = "contentProcessed"
  [contentList] = "content.length-1 > 0 ? content : []"
  (addItemEvent) = "addNewItem($event)"
  (editItemsEvent) = "editMode($event)"
  [itemToEdit] = "itemToEdit">
</app-create-content>
<app-content-card
  *ngFor="let item of (content | contentType:'news'); last as isLast"
  [item]="item" [last]="isLast"
  [editMode] = "_editMode"
  (editMeEvent) = "editContentById($event.value)">
</app-content-card>
<app-content-card
  *ngFor="let item of (content | contentType:'stories'); last as isLast"
  [item]="item" [last]="isLast"
  [editMode] = "_editMode"
  (editMeEvent) = "editContentById($event.value)">
</app-content-card>


