.message-wrapper {

  position: absolute;
  z-index: 9999;
  margin: auto;
  top: 50%;
  left: 50%;
  background-color: blanchedalmond;
  padding: 30px;
  border: 2px solid goldenrod;
  }
  h2{
    text-align: center;

  }
  button{
    margin:auto;
    display: block;
    margin-top: 10px;
  }


