<div class="card-wrapper {{item.type}}" [class.last]="last">
  <div class="body">
    <strong>Title:</strong> {{item.title}}
  </div>
  <div class="body" *ngIf="item.imgUrl; else defImg">
      <img (click)="clickImage()" [src]="item.imgUrl">
  </div>
  <ng-template class="body" #defImg>
    <img (click)="clickImage()" [src]="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg">
  </ng-template>
  <div class="body">
    <strong>Body:</strong> {{item.body}}
  </div>
  <div class="author">
    <strong>Author:</strong> {{item.author}}
  </div>
  <div class="type">
    <strong>Type:</strong> {{item.type}}
  </div>
  <div class="tags">
    <strong>Tags:</strong><span *ngFor="let tag of item.tags">{{tag}} </span>
  </div>
</div>
