<div appTextDecoration [decorStyle] = "'underline'" class="card-wrapper {{item.type}}" [class.last]="last">
  <div class="body">
    <strong>Title:</strong> {{item.title}}
  </div>
  <div class="image" *ngIf="item.imgUrl.length > 0">
      <img (click)="clickImage()" [src]="item.imgUrl"/>
  </div>
  <div class="image" *ngIf="item.imgUrl.length < 1">
    <img (click)="clickImage()" src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg"/>
  </div>
  <div class="body">
    <strong>Body:</strong> {{item.body}}
  </div>
  <div class="author">
    <strong>Author:</strong> {{item.author}}
  </div>
  <div class="type">
    <strong>Type:</strong> {{item.type}}
  </div>
  <div class="tags">
    <strong>Tags:</strong><span appTextDecoration [decorStyle] = "'line-through'" *ngFor="let tag of item.tags">{{tag}} </span>
  </div>
  <div *ngIf="edit">
    <app-create-content>

    </app-create-content>
  </div>
</div>
